@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
}

html,
body {
  overflow-x: hidden;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #222222;
  display: flex;
  justify-content: center;
}

main{
  height: 100%;
  width: 100vw;
  max-width: 860px;
  padding:100px 30px 30px 30px
}

#heartHover:hover{
  content: url('/heartFilled.png');
}

.nextui-c-hzQjrs.nextui-c-hzQjrs-hyKnjc-asPlaceholder-true.nextui-c-hzQjrs-ibDEqG-cv.nextui-input-block-label, .nextui-c-hzQjrs.nextui-c-hzQjrs-hyKnjc-asPlaceholder-true.nextui-c-hzQjrs-bCvCOf-focused-true.nextui-c-hzQjrs-eBkJfj-cv.nextui-input-block-label, .nextui-c-hzQjrs.nextui-c-hzQjrs-hyKnjc-asPlaceholder-true.nextui-c-hzQjrs-eLbANx-cv.nextui-c-hzQjrs-eLayoJ-cv.nextui-input-block-label, .nextui-c-hzQjrs.nextui-c-hzQjrs-hyKnjc-asPlaceholder-true.nextui-c-hzQjrs-bCvCOf-focused-true.nextui-c-hzQjrs-eLbANx-cv.nextui-c-hzQjrs-kowSHd-cv.nextui-input-block-label{
  color:white;
  left:0;
  z-index: 1;
}

.nextui-c-hzQjrs.nextui-c-hzQjrs-hyKnjc-asPlaceholder-true.nextui-c-hzQjrs-eLbANx-cv.nextui-input-block-label{
  z-index: 1;
}

a {
  color: inherit;
  text-decoration: none;
}